@model CoreLayer.ViewModels.Auth.LoginViewModel
<form asp-controller="Auth" asp-action="Login">
    <h1 class="text-center">Login</h1>
    <div class="text-danger" asp-validation-summary="All"></div>
    <label class="ltr-chat">Username : </label>
    <input asp-for="UserName" type="text" class="ltr-chat form-control" />
    <label class="ltr-chat">Password : </label>
    <input asp-for="Password" type="password" class="ltr-chat form-control" />
    <button type="submit" class="btn btn-success mt-4 float-end" style="margin-right: 8px;">Login</button>
    <a href="#register" id="register-btn" class="btn btn-primary mt-4">Register</a>
</form>