@model CoreLayer.ViewModels.Auth.LoginViewModel
<div class="form__padding-right">
    <form asp-controller="Auth" asp-action="Login">
        <h1 class="form__title">Member Login</h1>
        <div class="text-danger" asp-validation-summary="All"></div>
        <input asp-for="UserName" class="form__email" type="text" placeholder="Email" />
        <input asp-for="Password" class="form__password" type="password" placeholder="******" />
        <button type="submit" class="form__submit-btn">Login</button>
    </form><span>Forgot <a class="form__link" href="#">Username</a><a> / </a><a class="form__link" href="#">Password</a></span>
    <p> <a class="form__link" id="register-btn" href="#register">Create your account</a></p>
</div>
