@model CoreLayer.ViewModels.Auth.RegisterViewModel


<div class="form__padding-right">
    <form asp-controller="Auth" asp-action="Register">
        <h1 class="form__title">Member Register</h1>
        <div asp-validation-summary="All" class="text-danger mb-2"></div>
        <input asp-for="UserName" class="form__email" type="text" placeholder="Email" />
        <input asp-for="Password" class="form__password" type="password" placeholder="******" />
        <input asp-for="RePassword" class="form__password" type="password" placeholder="******" />
        <button class="form__submit-btn" type="submit">Register</button>
    </form>
    <span>Forgot <a class="form__link" href="#">Username</a><a> / </a><a class="form__link" href="#">Password</a></span>
    <p> <a class="form__link" href="#" id="login-btn">Login</a></p>
</div>
